* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.custom-loader {
  margin: 0 auto;
  width: 6px;
  height: 6px;
  background: #96b0a3;
  border-radius: 50%;
  box-shadow: 10px 0 #96b0a322, -10px 0 #96b0a3;
  animation: d5 0.5s infinite linear alternate;
}

@keyframes d5 {
  0% {
    box-shadow: 10px 0 #96b0a3, -10px 0 #96b0a322;
    background: #96b0a3;
  }
  33% {
    box-shadow: 10px 0 #96b0a3, -10px 0 #96b0a322;
    background: #96b0a322;
  }
  66% {
    box-shadow: 10px 0 #96b0a322, -10px 0 #96b0a3;
    background: #96b0a322;
  }
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* width */
*::-webkit-scrollbar {
  height: 10px;
  width: 7px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #96b0a3;
  border-radius: 1rem;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #6d8177;
}
